# =========================
# CORE DATABASE
# =========================
CORE_DB_NAME=core_db
CORE_DB_USER=core_user
CORE_DB_PASS=core_password

# =========================
# NEWS DATABASE
# =========================
NEWS_DB_NAME=news_db
NEWS_DB_USER=news_user
NEWS_DB_PASS=news_password

# =========================
# NOTIFICATIONS DATABASE
# =========================
NOTIFICATIONS_DB_NAME=notifications_db
NOTIFICATIONS_DB_USER=notifications_user
NOTIFICATIONS_DB_PASS=notifications_password

# =========================
# JWT
# =========================
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=1500

# =========================
# INITIAL ADMIN
# =========================
CREATE_INITIAL_ADMIN=True
INITIAL_ADMIN_PHONE=+79990000000
INITIAL_ADMIN_PASSWORD=password
INITIAL_ADMIN_NAME=Администратор

# =========================
# FIREBASE
# =========================
FIREBASE_CREDENTIALS_PATH=/notifications/certs/housing-department-notif-firebase-adminsdk-fbsvc-eb040a0109.json